<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thirty Seconds to Mars | Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is the description">
        <link rel="icon" href="/Images/mars-icon.png" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/styles.css">
    </head>

    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/index.html">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about.html">ABOUT</a></li>
                    <li><a href="/fans">FANS</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/users/login">LOGIN</a></li>
                </ul>
            </nav>
        </header>

    <section class="login-bg mars-login">
        <div class="login-form">
            <%- include('./partials/message')  %>
            <p>ECHELON, sign up for exclusive content just for you!</p>
            <form class="input-group" action="/users/signup" method="POST">
                <label for="name">Name: (required)</label>
                <input 
                type="text" 
                id="name"
                name="name" 
                placeholder="type your username" 
                value="<%= typeof name != 'undefined' ? name : '' %>"
                required>
                <label for="email">Email: (required)</label>
                <input 
                type="email" 
                id="email"
                name="email" 
                placeholder="type your email" 
                value="<%= typeof email != 'undefined' ? email : '' %>"
                required >
                <label for="password">Password: at least 6 characters (required)</label>
                <input 
                type="password" 
                id="password"
                name="password" 
                placeholder="type your password" 
                value="<%= typeof password != 'undefined' ? password : '' %>"
                required >
                <label for="password2">Confirm your password: (required)</label>
                <input 
                type="password" 
                id="password2"
                name="password2" 
                placeholder="confirm your password" 
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                required >
                <button type="submit" class="btn btn-primary">Sign me up</button>
            </form>
            <p>Have an account already? <a href="/users/login" class="btn btn-primary">log in</a></p>
        </div>
    </section>

    <footer class="main-footer">
        <div class="container main-footer-container">
            <ul class="nav footer-nav">
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0RqtSIYZmd4fiBKVFqyIqD?si=LhjFFS4gSWGcidMKJvN7zA&size=detail&theme=dark" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="/Images/YouTube Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="/Images/Facebook Logo.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>